html,body{height:100%;}
.page-content{
	min-height:calc(100% - 310px);margin-top: 30px;
}

nav,footer.page-footer{
	background-color: $mc;
	
}
nav .brand-logo,nav ul a{
	color:$brand-color;
	&:visited{color:#fff;}
}

.sidebar{
	width: 160px;position: fixed;top: 180px;margin-left: 60%;padding-left:20px;border-left:1px solid #ddd;
	li{
		line-height:30px;
	}
}

.hide{
	display:none;
}