html,
body {
    height: 100%;
}

body {
    padding-bottom: 190px;
}

.page-content {
    padding-top: 90px;
    min-height: 100%;
    margin-bottom: -20px;
}

nav,
footer.page-footer {
    background-color: $mc;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

nav .brand-logo,
nav ul a {
    color: $brand-color;
    &:visited {
        color: #fff;
    }
}

.sidebar {
    width: 160px;
    position: fixed;
    top: 180px;
    margin-left: 60%;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    background-color: #fdfdfd;
    li {
        line-height: 30px;
    }
}

.blog-item {
    transition:background .3s,box-shadow .3s;
    &:hover {
       box-shadow:0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    }
}

.pagination li.active{
    background-color: $mc;
    color:$brand-color;
}


.hide {
    display: none;
}
