---
layout: default
---
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/blog.css">
<header class="blog-header">
  <h3 class="blog-title">{{ page.title }}</h3>
  <p class="blog-info">
  <span class="blog-time">time: {{ page.date | date_to_string }}</span>
  <span class="blog-tags">tags: {% for tags in page.tags %}<span>{{tags}}  </span>{% endfor %}</span>
  <span class="blog-category">category: <span>{{page.category}}</span></span>
  </p>
</header>
<div class="blog-content">
  {{ content }}
</div>
<div class="comment">
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{page.title}}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"lmaomaoz"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
</div>
<script>
	(function(){
    function addFont() {
        var style = document.createElement('style');
        style.rel = 'stylesheet';
        document.head.appendChild(style);
        style.textContent = localStorage.Courgette;
    }

    try {
        if (localStorage.Courgette) {
            addFont();
        } else {
            var request = new XMLHttpRequest();
            request.open('GET', '/blog/css/Courgette.woff.css', true);

            request.onload = function() {
                if (request.status >= 200 && request.status < 400) {
                    localStorage.Courgette = request.responseText;
                    addFont();
                }
            }
            request.send();
        }
    } catch(ex) {}
})();
</script>
